body, ul, nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    padding: 95px 0;
    height: calc(100% - 190px);
    
}


/* * Navbar */
nav {
    align-content: center;
    width: 100%;
    height: 60px;
    padding: 20px 10px 25px;
    position: fixed;
    flex-wrap: nowrap;
    
}

/* * TOP Navbar */
nav.top {
    top: 0;
    align-self: flex-start;
    box-shadow: var(--shadow);
    height: 50px;
    background-color: var(--lightblue);
}

p.user {
    height: 100%;
    text-align: center;
    width: clamp(5ch, 10ch, 20ch);
    font-size: large;
    color: var(--silver);
}

span.username {
    font-size: x-large;
    padding-left: 1ch;
    color: var(--softwhite);
}
    
h1.title {
    align-self: center;
    font-size: clamp(55px, calc((75vw - 4.5rem) / 7), 80px);

}

/* <li class="msg">
    <p class="msg_author">Teo</p>
    <p class="msg_body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum natus autem consectetur. Sequi, optio cupiditate dignissimos dolor quisquam quis. Iusto obcaecati ratione inventore quam perferendis sed expedita! Placeat, quis consectetur?</p>
    <p class="msg_time"> 15:25</p>
</li> */


/* * Message template */
ul.msg_container {
    align-self: center;
    height: auto;
    flex-basis: 100%;
    width: 100%;
    padding: 0;
    width: 75%; 

}

li.msg {
    padding: 15px;
    margin: 25px;
    
    align-self: flex-start;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    flex-basis: 100%;
    width: 75%;
    
    
    list-style: none;
}

li.msg:last-child {
    margin-bottom: 120px;
}

p.msg_author {
    text-align: left;
    font-size: xx-large;
    color: #c9c9c9;
    
}

p.msg_body {
    padding: 5px 20px 1px 35px;
    max-width: 35ch;
    font-size: x-large;
}

p.msg_time {
    text-align: right;
    font-size: x-large;
    color: #c9c9c9;
}


/* * BOTTOM Navbar */
nav.btm {
    bottom: 0;
    height: clamp(50px, fit-content, 100px);
    align-self: flex-end;
    box-shadow: var(--shadow-rev);
    background-color: var(--darkblue);

}

button.sendMsg {
    padding: 10px 15px;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

textarea.sendMsg {
    width: 75%;
    height: fit-content;
    margin: 0 15px;
    padding: 10px 5px 10px 15px;
    resize: none;
    font-size: 20px;
    overflow-y: auto;
}