* {
    color: var(--softwhite);
    margin: 0;
}

:root {
    --darkblue: #2c3e50;
    --lightblue: #34495e;
    --softwhite: #ecf0f1;
    --silver: #bdc3c7;

    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --shadow-rev: rgba(149, 157, 165, 0.2) 0px -8px 24px;
    --semiTrasparent: rgba(0.0, 0.0, 0.0, 0.1);
    --insetShadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;

    height: 100%;
}

body {
    background-color: var(--lightblue);
}

/* button stile */
button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

button:active {
    box-shadow: var(--insetShadow);
}


/* textarea style */
textarea {
    outline: none;
    border: none;
    background-color: var(--semiTrasparent);
    box-shadow: var(--shadow);
    border-radius: 5px;

}

textarea:hover {
    box-shadow: var(--insetShadow)
}

textarea:focus-visible {
    box-shadow: var(--insetShadow)
}

textarea:focus {
    border: 1.5px solid var(--softwhite);
}

textarea::placeholder {
    opacity: 78%;
}

textarea.login:valid {
    border: 2px solid rgb(0, 255, 0);
}

textarea:invalid {
    border: 2px solid rgb(255, 0, 0);
}

/* imported */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    font-size: clamp(60px, calc((75vw - 4.5rem) / 7), 150px);
    text-align: center;
    flex-basis: 100%;
    /* margin: 0 15px 5px 15px; */
}